---
layout: default
title: "Projects"
header_image: "/assets/images/banner_10.jpg"
---

<section class="section-ptb">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
      </div>
    </div>

    <div class="row">
     {% for project in site.projects %}
       {% if project.visible %}
        <div class="col-lg-6 col-sm-6 custom-mb-4 image-filter {{project.tags}}">
          <div class="portfolio-item">
            {% if project.post_image %}
             <a href="{{project.url}}"><img src="{{project.post_image}}" alt="{{project.title}}" class="img-fluid"/></a>
            {% endif %}
            <div class="info">
              <a href="{{project.url}}">{{project.title}}</a>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>