---
layout: default
title: "Projects"
header_image: "/assets/images/banner_10.jpg"
---

<section class="portfolio-2 section-ptb {% if include.extra_class %}{{include.extra_class}} {% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="title">Our Work</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 filterbox">
        <ul>
          <li>
            <a class="buttons active" data-filter="all">ALL</a>
            <a class="buttons" data-filter="training">Training</a>
            <a class="buttons" data-filter="development">Development</a>
            <a class="buttons" data-filter="consulting">Consulting</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
     {% for project in site.projects %}
       {% if project.visible %}
        <div class="col-lg-4 col-sm-6 custom-mb-4 image-filter {{project.tags}}">
          <div class="portfolio-item">
            {% if project.post_image %}
             <a href="{{project.url}}"><img src="{{project.post_image}}" alt="{{project.title}}" class="img-fluid"/></a>
            {% endif %}
            <div class="info">
              <h3><a href="{{project.url}}">{{project.title}}</a></h3>
              <h6>{{project.sub_title}}</h6>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>