<section class="about {% if include.extra_class %} {{include.extra_class}} {% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 class="title wow animated fadeIn" data-wow-delay="1.0s">Building Tools of the Future</h2>
        <p class="wow animated fadeIn" data-wow-delay="1.1s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin semper dui eu velit dignissim auctor eu ac nunc. Quisque lectus lectus, dictum egestas ligula quis, lacinia fringilla ligula. Donec eget vestibulum leo. Duis iaculis magna vitae purus tincidunt mollis. Vivamus laoreet dapibus vulputate. Curabitur erat odio, elementum aliquam efficitur in, mollis ut sem. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, temporibus, fugit. Odit labore maxime magni vero ut, perspiciatis non repudiandae magnam? Temporibus adipisci consequatur, asperiores assumenda aperiam! Nam, eum, rerum?</p>
        <a href="/about" class="btn btn-lg dark wow animated fadeIn" data-wow-delay="1.2s">Read More</a>
      </div>
      <div class="col-md-5">
        <img src="/assets/images/about.png" alt="about" class="img-fluid wow animated fadeIn" data-wow-delay="0.5s"/>
      </div>
    </div>
  </div>
</section>
