<section class="section client section-ptb">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2 class="title">Our Valuable Client</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col col-xs-6">
        <img src="{{relative_url}}/assets/images/client-1.png" class="wow animated bounceInLeft" data-wow-delay="1.0s" alt="client"/>
      </div>
      <div class="col col-xs-6">
        <img src="{{relative_url}}/assets/images/client-2.png" class="wow animated bounceInLeft" data-wow-delay="0.5s" alt="client"/>
      </div>
      <div class="col col-xs-6">
        <img src="{{relative_url}}/assets/images/client-3.png" class="wow animated bounceInLeft" data-wow-delay="0.4s" alt="client"/>
      </div>
      <div class="col col-xs-6">
        <img src="{{relative_url}}/assets/images/client-4.png" class="wow animated bounceInLeft" data-wow-delay="0.3s" alt="client"/>
      </div>
      <div class="col col-xs-6">
        <img src="{{relative_url}}/assets/images/client-5.png" class="wow animated bounceInLeft" data-wow-delay="0.2s" alt="client"/>
      </div>
      <div class="col col-xs-6">
        <img src="{{relative_url}}/assets/images/client-6.png" class="wow animated bounceInLeft" data-wow-delay="0.1s" alt="client"/>
      </div>
    </div>
  </div>
</section>
