<section class=" {% if include.extra_class %} {{include.extra_class}} {% endif %}">
  <div class="counter"> 
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-3 col-sm-6">
        <h2 class="title">154</h2>
        <h6>Project Completed</h6>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h2 class="title">15</h2>
        <h6>YEARS OF EXPERIENCE</h6>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h2 class="title">2459</h2>
        <h6>HOURS ON PROJECTS</h6>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h2 class="title">40</h2>
        <h6>Happy Clients</h6>
      </div>
    </div>
  </div>
</div>
</section>