<section class=" {% if include.extra_class %} {{include.extra_class}} {% endif %}">
  <div class="counter"> 
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-3 col-sm-6">
        <h2 class="title">MANY+</h2>
        <h6>Projects Completed</h6>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h2 class="title">40+</h2>
        <h6>Years of Experience</h6>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h2 class="title">MANY+</h2>
        <h6>Hours on Projects</h6>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h2 class="title">20+</h2>
        <h6>Teams Built</h6>
      </div>
    </div>
  </div>
</div>
</section>