<section class="features section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 item wow animated fadeInUp" data-wow-delay="0.2s">
        <img src="/assets/images/1.png" alt="feature"/>
        <h4><a href="#">OUR WORK</a></h4>
        <p>Lorem ipsum dolor sit amet, conse ctet uradipiscing elit, sed</p>
      </div>
      <div class="col-lg-3 col-sm-6 item wow animated fadeInUp" data-wow-delay="0.4s">
        <img src="/assets/images/2.png" alt="feature"/>
        <h4><a href="#">INSPIRING IDEAS</a></h4>
        <p>Lorem ipsum dolor sit amet, conse ctet uradipiscing elit, sed</p>
      </div>
      <div class="col-lg-3 col-sm-6 item wow animated fadeInUp" data-wow-delay="0.6s">
        <img src="/assets/images/3.png" alt="feature"/>
        <h4><a href="#">WHAT WE DO</a></h4>
        <p>Lorem ipsum dolor sit amet, conse ctet uradipiscing elit, sed</p>
      </div>
      <div class="col-lg-3 col-sm-6 item wow animated fadeInUp" data-wow-delay="0.8s">
        <img src="/assets/images/4.png" alt="feature"/>
        <h4><a href="#">SAFE AND SECURE</a></h4>
        <p>Lorem ipsum dolor sit amet, conse ctet uradipiscing elit, sed</p>
      </div>
      <div class="col-lg-3 col-sm-6 item wow animated fadeInUp" data-wow-delay="1.0s">
        <img src="/assets/images/5.png" alt="feature"/>
        <h4><a href="#">BRAND CREATION</a></h4>
        <p>Lorem ipsum dolor sit amet, conse ctet uradipiscing elit, sed</p>
      </div>
      <div class="col-lg-3 col-sm-6 item wow animated fadeInUp" data-wow-delay="1.2s">
        <img src="/assets/images/6.png" alt="feature"/>
        <h4><a href="#">OPEN DAYS</a></h4>
        <p>Lorem ipsum dolor sit amet, conse ctet uradipiscing elit, sed</p>
      </div>
      <div class="col-lg-3 col-sm-6 item wow animated fadeInUp" data-wow-delay="1.4s">
        <img src="/assets/images/7.png" alt="feature"/>
        <h4><a href="#">WHERE WE ARE</a></h4>
        <p>Lorem ipsum dolor sit amet, conse ctet uradipiscing elit, sed</p>
      </div>
      <div class="col-lg-3 col-sm-6 item wow animated fadeInUp" data-wow-delay="1.6s">
        <img src="/assets/images/8.png" alt="feature"/>
        <h4><a href="#">PREMIUM SUPPORT</a></h4>
        <p>Lorem ipsum dolor sit amet, conse ctet uradipiscing elit, sed</p>
      </div>
    </div>
  </div>
</section>
