<footer class="spotlight-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <a href="{{site.url}}"><img src="{{relative_url}}/assets/images/how_logo_small.svg" alt="logo"/></a>
        <p>HOW is not a traditional company, not a consulting agency, not a software studio. Or is all these together. We are crazy and full of energy. We don't take ourselves too seriously. But we get shit done.</p>
        <p>HOW GP &copy; 2023 No rights reserved.</p>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</footer>
