<footer class="spotlight-footer">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-1">

      </div>
      <div class="col-lg-5">
        <p>HOW Studio</p>
        <p>At HOW, we defy convention – not your typical company, consulting agency, or software studio. We're a fusion of them all, infused with crazy energy and an unwavering commitment to getting things done.</p> 
      </div>
      <div class="col-lg-3">
        <p>Social Media</p>
        <br><a href="https://twitter.com/howstudio_dev">Twitter</a>
        <br><a href="https://twitter.com/howstudio_dev">Linkedin</a>
      </div>
      <div class="col-lg-3">
        <p>Where we are</p>
        <br>Kalamida Str. 3
        <br>Athens, 10554
        <br>Greece
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</footer>
