<header>
  <div class="logo">
    <a class="link" href="/">
      hands on works <span class="logo-arrow ms-3">r</span>
    </a>

    <a class="logo-icon mt-4" href="/"><img src="/assets/images/logo.svg" /></a>
  </div>

  <nav>
    <ul>
      <li class="link"><a href="/what-we-do">What we do</a></li>
      <li class="link-separator">/</li>
      <li class="link"><a href="/us">Us</a></li>
    </ul>

    <div class="get-in-touch">
      <a href="/get-in-touch">Get in touch</a>
    </div>
  </nav>

  <button class="hamb" onclick="toggleMenu(this)">
    <div class="bar1"></div>
    <div class="bar3"></div>
  </button>
</header>

<script>
  function toggleMenu(btn) {
    btn.parentNode.classList.toggle("active");
  }

  const nav = document.querySelector("header > nav");

  nav.addEventListener("transitionstart", (event) => {
    nav.style.opacity = 1;
  });

  nav.addEventListener("transitionend", (event) => {
    if (nav.clientHeight < 30) nav.style.opacity = 0;
  });
</script>
