<section class="banner" style="background-image:url({% if page.header_image %}{{page.header_image}}{% else %}{{site.banner_image}}{% endif %});">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-8">
        <h1 class="wow animated fadeInUp" data-wow-delay="0.5s">We Are Creative</h1>
        <p class="wow animated fadeInUp" data-wow-delay="1.0s">We help startup companies understand, prototype and deploy custom technologies. As trained architects, interface designers and software developers, we believe technology can be a motive force in the Architecture.</p>
        <a href="#" class="btn btn-lg wow animated fadeInUp" data-wow-delay="1.5s">Ready for your project</a>
      </div>
      <div class="col-lg-6 col-sm-4">
      </div>
    </div>
  </div>
</section>
