<section class="banner" style="background-image:url({% if page.header_image %}{{page.header_image}}{% else %}{{site.banner_image}}{% endif %});">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-8">
        <h1>Unleash Your Vision</h1>
        <p>
          Crafting exceptional web applications and mastering SEO for a seamless online experience
        </p>
        <p>
          Your success begins with us
        </p>
      </div>
    </div>
  </div>
</section>
