<section class="banner" style="background-image:url({% if page.header_image %}{{page.header_image}}{% else %}{{site.banner_image}}{% endif %});">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-8">
        <h1>HOW Studio</h1>
        <p>
        Empowering startups to bring their ideas to life, we guide them through the entire process of conceptualization, prototyping, and deployment.

Our approach involves not only building and nurturing teams but also transferring valuable knowledge, fostering a collaborative and non-competitive culture.

If you thrive in cut-throat environments, we may not be the right fit for you. Explore other consulting agencies that align with your preferences.
</p>
        <center>
          <a href="/contact" class="btn btn-lg">Ready for your next project?</a>
        </center>
      </div>
      
    </div>
  </div>
</section>
