<section class="portfolio-2 section {% if include.extra_class %}{{include.extra_class}} {% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="title">Our Work</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 filterbox">
        <ul>
          <li>
            <a class="buttons active" data-filter="all">ALL</a>
            <a class="buttons" data-filter="training">Corporate Training</a>
            <a class="buttons" data-filter="product">Product Development</a>
            <a class="buttons" data-filter="consulting">Software Consulting</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
     {% for work in site.works %}
       {% if work.visible %}
        <div class="col-lg-4 col-sm-6 custom-mb-4 image-filter {{work.tags}}">
          <div class="portfolio-item">
            {% if work.post_image %}
             <a href="{{work.url}}"><img src="{{work.post_image}}" alt="{{work.title}}" class="img-fluid"/></a>
            {% endif %}
            <div class="info">
              <h3><a href="{{work.url}}">{{work.title}}</a></h3>
              <h6>{{work.sub_title}}</h6>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>