<section class="spotlight-portfolio portfolio2 {% if include.extra_class %} {{include.extra_class}} {% endif %}">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="title">Our Recent Work</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-6 items">
      <img src="/assets/images/portfolio1.jpg" class="image img-fluid" alt="portfolio"/>
    </div>
    <div class="col-lg-6 col-sm-6 items content">
      <h3><a href="#">Responsive Website</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <table class="table">
        <tr>
          <th>Client:</th>
          <td>Jhon Smith</td>
        </tr>
        <tr>
          <th>Project Type:</th>
          <td>Freelance</td>
        </tr>
        <tr>
          <th>Start Date:</th>
          <td>26 January 2020</td>
        </tr>
        <tr>
          <th>End Date:</th>
          <td>06 May 2020</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-6 items content">
      <h3><a href="#">Responsive Website</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <table class="table">
        <tr>
          <th>Client:</th>
          <td>Jhon Smith</td>
        </tr>
        <tr>
          <th>Project Type:</th>
          <td>Freelance</td>
        </tr>
        <tr>
          <th>Start Date:</th>
          <td>26 January 2020</td>
        </tr>
        <tr>
          <th>End Date:</th>
          <td>06 May 2020</td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6 col-sm-6 items">
      <img src="/assets/images/portfolio2.jpg" class="image img-fluid" alt="portfolio"/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-6 items">
      <img src="/assets/images/portfolio3.jpg" class="image img-fluid" alt="portfolio"/>
    </div>
    <div class="col-lg-6 col-sm-6 items content">
      <h3><a href="#">Responsive Website</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <table class="table">
        <tr>
          <th>Client:</th>
          <td>Jhon Smith</td>
        </tr>
        <tr>
          <th>Project Type:</th>
          <td>Freelance</td>
        </tr>
        <tr>
          <th>Start Date:</th>
          <td>26 January 2020</td>
        </tr>
        <tr>
          <th>End Date:</th>
          <td>06 May 2020</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-6 items content">
      <h3><a href="#">Responsive Website</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <table class="table">
        <tr>
          <th>Client:</th>
          <td>Jhon Smith</td>
        </tr>
        <tr>
          <th>Project Type:</th>
          <td>Freelance</td>
        </tr>
        <tr>
          <th>Start Date:</th>
          <td>26 January 2020</td>
        </tr>
        <tr>
          <th>End Date:</th>
          <td>06 May 2020</td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6 col-sm-6 items">
      <img src="/assets/images/portfolio4.jpg" class="image img-fluid" alt="portfolio"/>
    </div>
  </div>
</div>
</section>