<section class="service service-2 {% if include.extra_class %} {{include.extra_class}} {% endif %}">
  <div class="container text-center">
    <div class="row">
      {% for service in site.services %}
      <div class="col-lg-3 col-md-6 custom-mb-4">
        <div class="item" data-wow-delay="0.2s">
          {% if service.icon %}
           <img src="{{service.icon}}" class="img-fluid" alt="feature"/>
          {% endif %}
          <h4>{{service.title}}</h4>
          
          <a href="{{service.url}}" class="btn dark">Read More</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
