<section class="section-ptb service service-2 {% if include.extra_class %} {{include.extra_class}} {% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="title">Our services</h2>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-6 col-md-6 custom-mb-4">
        <div class="item" data-wow-delay="0.2s">
          <img src="/assets/images/education.png" class="img-fluid" alt="feature"/>
          <h4>Education</h4>
          We provide training and support to help individuals and teams build the skills 
          they need to succeed in today's digital world, including Software Engineers, Engineering Managers, 
          Tech Leads or IT Recruiters.
        </div>
      </div>

      <div class="col-lg-6 col-md-6 custom-mb-4">
        <div class="item" data-wow-delay="0.2s">
          <img src="/assets/images/development.png" class="img-fluid" alt="feature"/>
          <h4>Product Development</h4>
          We help businesses and organizations create new software and hardware products from 
          concept to launch. Our team will work with 
          you every step of the way to bring your ideas to life.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 custom-mb-4">
        <div class="item" data-wow-delay="0.2s">
          <img src="/assets/images/project.png" class="img-fluid" alt="feature"/>
          <h4>Project Implementation</h4>
          We help organizations build, maintain, and improve their online presence. 
          From simple websites to complex web-based applications, we have the skills 
          and experience to deliver top-quality results on time and on budget.
        </div>
      </div>

      <div class="col-lg-6 col-md-6 custom-mb-4">
        <div class="item" data-wow-delay="0.2s">
          <img src="/assets/images/hiring.png" class="img-fluid" alt="feature"/>
          <h4>Hiring</h4>
          We help you identify the best candidates for your open positions, whether 
          entry-level engineers or seasoned professionals. Our goal is to save you time and hassle while helping you 
          build a world-class engineering team.
        </div>
      </div>
    </div>
  </div>
</section>
