<section class="skill skill-2 {% if include.extra_class %}{{include.extra_class}}{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="title">Our Top Skills</h2>
        <p>We have a combined 40 years of experience in web development scale-ups, both in the engineering and the management part of it. If we add the experience of our network it may well go over 500 years of experience. Yup, that's a lot. We know the Web. We know how to build teams and set the culture. We know what your team and product need to succeed.</p>
      </div>
      <div class="col-lg-6">
        <h6>Web Development</h6>
        <div class="progress">
          <div class="progress-bar w-95" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h6>Tech Hiring</h6>
        <div class="progress">
          <div class="progress-bar w-85" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h6>Corporate Training</h6>
        <div class="progress">
          <div class="progress-bar w-88" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h6>Team Culture</h6>
        <div class="progress">
          <div class="progress-bar w-90" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
</section>
