<!--
  Slider Start
/ -->
<section class="slider">
  <div class="flexslider">
    <ul class="slides">
      <li data-thumb="assets/images/slider-1.jpg">
        <img src="assets/images/slider-1.jpg" alt="slider">
      </li>
      <li data-thumb="assets/images/slider-2.jpg">
        <img src="assets/images/slider-2.jpg" alt="slider">
      </li>
      <li data-thumb="assets/images/slider-3.jpg">
        <img src="assets/images/slider-3.jpg" alt="slider">
      </li>
      <li data-thumb="assets/images/slider-4.jpg">
        <img src="assets/images/slider-4.jpg" alt="slider">
      </li>
    </ul>
  </div>
</section>
<!--
  Slider End
/ -->