<section class="team {% if include.extra_class %}{{include.extra_class}}{% endif %}" id="team-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="title">us three plus some friends</h3>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="col-lg-4 col-sm-6">
        <div class="teams">
          <img src="{{relative_url}}/assets/images/dimkots.jpg" alt="team" class="img-fluid">
          <div class="overlay">
            <div class="social">
              <a href="https://twitter.com/dimkots" target="_blank"><i class="lni lni-twitter-original"></i></a>
              <a href="https://www.linkedin.com/in/dkotsakos" target="_blank"><i class="lni lni-linkedin-original"></i></a>
            </div>
          </div>
          <h5>Dimitris Kotsakos</h5>
          <p>Talks too much</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="teams">
          <img src="{{relative_url}}/assets/images/chief.jpeg" alt="team" class="img-fluid">
          <div class="overlay">
            <div class="social">
              <a href="https://twitter.com/giorgostsiftsis" target="_blank"><i class="lni lni-twitter-original"></i></a>
              <a href="https://www.linkedin.com/in/giorgos-tsiftsis/" target="_blank"><i class="lni lni-linkedin-original"></i></a>
            </div>
          </div>
          <h5>Giorgos Tsiftsis</h5>
          <p>Studies too much</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="teams">
          <img src="{{relative_url}}/assets/images/miza.jpg" alt="team" class="img-fluid">
          <div class="overlay">
            <div class="social">
              <a href="https://twitter.com/mikezaby" target="_blank"><i class="lni lni-twitter-original"></i></a>
              <a href="https://www.linkedin.com/in/michalis-zabaras-97b5002b/" target="_blank"><i class="lni lni-linkedin-original"></i></a>
            </div>
          </div>
          <h5>Mike Zaby</h5>
          <p>Plays music</p>
        </div>
      </div>
    </div>
  </div>
</section>