<section class="section-ptb bg-semi-white">
  <div class="testimonial"> 
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="title">What people say about us</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="owl-carousel owl-theme" id="testimonial">
          <div class="item row">
            <div class="col-sm-2">
              <span class="icon float-left"><i class="lni lni-quotation"></i></span>
            </div>
            <div class="col-sm-8 text-center">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi.</p>
              <p class="client">David Saylvian</p>
              <p class="designation mb-0">CEO, Manafn</p>
            </div>
            <div class="col-sm-2">
              <img src="{{relative_url}}/assets/images/client.png" alt="client" class="float-right">
            </div>
          </div>
          <div class="item row">
            <div class="col-sm-2">
              <span class="icon float-left"><i class="lni lni-quotation"></i></span>
            </div>
            <div class="col-sm-8 text-center">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi.</p>
              <p class="client">David Saylvian</p>
              <p class="designation mb-0">CEO, Manafn</p>
            </div>
            <div class="col-sm-2">
              <img src="{{relative_url}}/assets/images/client.png" alt="client" class="float-right"/>
            </div>
          </div>
          <div class="item row">
            <div class="col-sm-2">
              <span class="icon float-left"><i class="lni lni-quotation"></i></span>
            </div>
            <div class="col-sm-8 text-center">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi.</p>
              <p class="client">David Saylvian</p>
              <p class="designation mb-0">CEO, Manafn</p>
            </div>
            <div class="col-sm-2">
              <img src="{{relative_url}}/assets/images/client.png" alt="client" class="float-right"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>