html,
body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: $body-font-family;
  color: $high-emphasis;
  background: $backgroud;
}

body {
  padding: nth($spaces, 9) nth($spaces, 16) nth($spaces, 7) nth($spaces, 16);
}
