#page-what-we-do {
  main {
    background: #a1b0fd;

    .content {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  .what-we-do {
    display: flex;
    flex-direction: column;
  }

  .brief {
    width: 100%;
    text-align: left;

    @include media("extra-small") {
      margin-bottom: nth($spaces, 10);

      h1 {
        font-size: nth($spaces, 7);
      }
    }

    @include media("small") {
      margin-bottom: nth($spaces, 10);

      h1 {
        font-size: nth($spaces, 8);
      }
    }

    @include media("medium") {
      margin-bottom: nth($spaces, 20);

      h1 {
        font-size: nth($spaces, 9);
      }
    }

    @include media("large") {
      h1 {
        font-size: nth($spaces, 11);
      }
    }
  }

  .brief-title {
    font-size: nth($spaces, 5);
    font-weight: 600;
    color: $neutral-100;
    text-transform: uppercase;
  }

  .interested {
    @extend .mt-10;
    font-size: nth($spaces, 5);
    font-weight: 600;
  }
}
