.articles-container {
  width: 100%;

  &.articles-short {
    article {
      max-width: 360px;
      height: auto;
    }
  }

  &.single-column {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &.two-column {
    display: grid;
    gap: 0px 56px;

    @include media("extra-small", "small") {
      grid-template-columns: repeat(1, 1fr);
    }

    @include media("medium") {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

article {
  @include media("extra-small") {
    margin-bottom: nth($spaces, 10);

    p {
      margin-top: nth($spaces, 2);
    }
  }

  @include media("small") {
    margin-bottom: nth($spaces, 10);

    p {
      margin-top: nth($spaces, 3);
    }
  }

  @include media("medium") {
    margin-bottom: nth($spaces, 14);

    p {
      margin-top: nth($spaces, 4);
    }
  }
}
