main {
  .content {
    display: flex;
    flex-direction: column;

    @include media("extra-small", "small") {
      padding: nth($spaces, 6);
    }

    @include media("medium") {
      padding: nth($spaces, 4);
    }
  }
}
