---
layout: default
title: "Blog Grid View"
header_image: "/assets/images/banner_08.jpg"
---

{% include page_header.html %}

<!--
  Blog Area Start
/ -->
<section class="blog-default section-ptb-2">
  <div class="container">
    <div class="row">
     {% for post in page.posts %}
      <div class="col-lg-4 col-sm-6 custom-mb-4">
        <article>
          {% if post.post_image %}
          <div class="image">
             <a href="{{post.url}}"><img src="{{post.post_image}}" alt="{{post.title}}" class="feature img-fluid"/></a>
          </div>
          {% endif %}
          <div class="content">
            <div class="row">
              {% if post.date %}
              <div class="col">
                <span class="date"><i class="lni lni-calendar"></i> {{post.date | date_to_string}}</span>
              </div>
              {% endif %}
              <div class="col">
                <span class="comment float-right"><i class="lni lni-bubble"></i> <a href="{{post.url}}#disqus_thread" data-disqus-identifier="{{post.url}}"> 0 Comment</a></span>
              </div>
            </div>
            <h3><a href="{{post.url}}">{{post.title | truncate: 35}}</a></h3>
            <p>{{post.excerpt | strip_html | truncatewords: 20}}</p>
            <a href="{{post.url}}" class="btn dark">Read More</a>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include pagination.html %}
      </div>
    </div>
  </div>
</section>
<!--
  Blog Area End
/ -->